.tree-box-container {
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tree-box {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .tree-node {
    border-bottom: 1px solid #ddd;
  }
  
  .tree-node-label {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px 5px 0 0;
  }
  
  .tree-children {
    margin-left: 20px;
  }
  
  .tree-child {
    padding: 5px 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
  }
  